@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.buttonMenu {
  position: relative;
  width: 2.3em;
  height: 2.3em;
  margin-right: 15px;

  .toggleButton {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 2;
    color: #000;
    border: 0.1em #000 solid;
    display: flex;
    align-items: center;
    justify-content: center;

    &.open {
      color: #fff;
      border: 0.09em #ccc solid;
      font-weight: 300;
    }
  }

  .menu {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100vw;
    //background-color: #0f1419;
    background: url('../assets/images/banner-2.svg');
    background-size: cover;
    background-position-x: 1%;
    color: #fff;
    transition: right 0.3s ease-in-out;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.open {
      right: 0;
    }

    .menuList {
      list-style: none;
      padding: 0;
      margin: 100px 15px 0 15px;

      li {
        padding: 10px;
        color: #fff;
        text-align: right;
        font-size: 20px;
        cursor: pointer;
        border: 1px #ccc solid;
        margin: 10px;

        &:hover {
          background-color: #555;
        }
      }

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        width: 100%;
        height: 100%;
        color: #ccc;
        font-family: "Quicksand", sans-serif;
        overflow: hidden;

        span {
          margin-right: 5px;
        }
      }
      .btnTxt {
        display: flex;
        align-items: center;
        text-decoration: underline;
        text-underline-position: under;
      }
    }
    .menuLogo {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Righteous', cursive;
      font-size: 1.3em;
      color: #5BFF04;
      margin-bottom: 1em;
    }
  }
  img {
    width: 2em;
    margin-right: .5em;
  }
}
