.homeHeader, .awayHeader {
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
    padding: 1em .5em 1em .5em;
    h3 {
        margin: 0;
    }
}


.homeFieldImg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.lineup {
    //background: url('../assets/images/soccer-field.svg');
    background-color: #30d667;
    height: 100vh;
}

.line {
    display: block;
    width: 100%;
    height: .1em;
    background-color: #fff;
}

.homeLineup {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*background: url('../assets/images/homeField.svg');
    background-size: contain;
    background-repeat: no-repeat;*/
}
.awayLineup {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*background: url('../assets/images/awayField.svg');
    background-size: contain;
    background-repeat: no-repeat;*/
}

.ply {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    span {
        display: none;
    }
}

.point {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-bottom: .3em;
    z-index: 1;
}

.gk {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span {
        display: none;
    }
}

.def, .mid, .for {
    display: flex;
    justify-content: space-around;
}