@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

$primary-color: #006e0f;

.container {
    padding-top: 4em;
}

.principalDetails {
    background: url('../assets/images/banner.svg');
    background-size: cover;

    .time {
        color: $primary-color;
        h3 {
            margin: 0;
            padding: .5em 0 0 0;
            font-family: 'Oswald', sans-serif;
            text-align: center;
        }
    }
    .matchScore {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #fff;
        text-align: center;
        height: 7em;
        img {
            height: 3.5em;
        }

        .homeTeam, .awayTeam {
            width: 30%;
        }
    }
}
