@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

$primary-color: #006e0f;
$secondary-color: #1e1e1e;

.container {
    padding-top: 4em;
}

.principalDetails {
    background: url('../assets/images/banner.svg');
    background-size: cover;

    .time {
        color: $primary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        .minute {
            margin: 0;
            padding: .5em 0 0 0;
            text-align: center;
            font-family: 'Oswald', sans-serif;
        }
    }
    .matchScore {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #fff;
        text-align: center;
        height: 7em;
        img {
            height: 3.5em;
        }

        .homeTeam, .awayTeam {
            width: 30%;
        }
    }
}

.league {
    background: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
    .leagueLogo {
        display: flex;
        align-items: center;
        img {
            height: 2em;
            margin-right: .5em;
        }
    }
}
    

.stadium {
    background: #000;
    color: #fff;
    img {
        width: 100vw;
    }
}

.events {
    color: #fff;
    background-color: #000;
    /*.line {
        height: 100%;
        width: .5%;
        background: #fff;
        position: absolute;
        right: 49.5%;
    }*/
    .left {
        background-color: blue;
        background-color: #00000000;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-width: 50%;
        max-width: 60%;
        padding-bottom: 0.5em;
    }
    .right {
        background-color: red;
        background-color: #00000000;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        min-width: fit-content;
        margin-left: 45%;
        padding-bottom: 0.5em;
    }
    .minutePlayer {
        display: flex;
        p {
            margin: 0 .3em 0 .3em;
        }
    }

    .eventType {
        background-color: #fff; 
        width: 3em;
        height: 3em;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        //border: 1px solid #fff;
       .yellowCard {
            background-color: #fced1c;
            width: 1.5em;
            height: 2em;
            border-radius: .3em;
            border: .1em solid #000;
        }
        .redCard {
            background-color: #970000;
            width: 1.5em;
            height: 2em;
            border-radius: .3em;
            border: .1em solid #000;
        } 
        img {
            height: 2em;
            width: 2em;
        }
    }
    
}


.indeterminateProgressBar {
    background-color: #00000000;
    border-radius: 9999px;
    position: relative;
    overflow: hidden;
    width: 1.5em;
    height: 2px;
}

.indeterminateProgressBarProgress {
    background-color: #006e0f;
    border-radius: 9999px;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: indeterminateProgressBar;
}

@keyframes indeterminateProgressBar {
    from {
        left: -50%;
    }
    to {
        left: 100%;
    }
}