@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

$primary-color: #006e0f;
$secondary-color: #1e1e1e;

.container {
    padding-top: 4em;
    background-color: #333;
}

.principalDetails {
    background: url('../assets/images/banners/banner.svg');
    background-size: cover;

    .time {
        color: $primary-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        .minute {
            margin: 0;
            padding: .5em 0 0 0;
            text-align: center;
            font-family: 'Oswald', sans-serif;
        }
    }
    .matchScore {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #fff;
        text-align: center;
        height: 7em;
        img {
            height: 3.5em;
            max-width: 100%;
        }
        .scoreDate {
            font-size: 2em;
        }
        .homeTeam, .awayTeam {
            width: 30%;
        }
    }
}

.league {
    background: url('../assets/images/banners/banner.svg');
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
    .leagueLogo {
        display: flex;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        img {
            height: 2.7em;
            margin: 0 .5em 0 .5em;
        }
    }
}
    

.stadium {
    background: url('../assets/images/banners/banner.svg');
    background-size: cover;
    color: #fff;
    img {
        width: 100vw;
    }
    div {
        padding: .5em 0 .5em 0;
    }
    .stadiumIcon {
        display: flex;
        align-items: center;
        img {
            height: 1em;
            max-width: fit-content;
            margin: 0 .3em 0 .2em;
        }
    }
    .stadiumLocation {
        display: flex;
        align-items: center;
        img {
            height: 1em;
            max-width: fit-content;
            margin: 0 .4em 0 .4em;
        }
    }
    .stadiumReferee {
        display: flex;
        align-items: center;
        img {
            height: 1em;
            max-width: fit-content;
            margin: 0 .4em 0 .4em;
        }
    }
}

.noEvents {
    background: #0F1419;
    color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    h3 {
        text-align: center;
        font-family: "Courier New", Courier, monospace;
        font-weight: bold;
        margin: 1em 0 .5em 0;
    }
    img {
        width: 50%;
        height: 50%;
    }
}

.events {
    color: #fff;
    background-color: #000;
    padding: 1em 0 1em 0;
    /*.line {
        height: 100%;
        width: .5%;
        background: #fff;
        position: absolute;
        right: 49.5%;
    }*/
    .left {
        background-color: blue;
        background-color: #00000000;
        background-color: #333;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-width: 50%;
        max-width: 60%;
        margin-top: 0.5em;
        margin-left: .1em;
    }
    .right {
        background-color: red;
        background-color: #00000000;
        background-color: #333;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        min-width: fit-content;
        margin-left: 45%;
        margin-top: 0.5em;
        margin-right: .1em;
    }
    .minutePlayerL {
        display: flex;
        align-items: center;
        p {
            margin: 0 .3em 0 .3em;
            text-align: center;
        }
    }
    .minutePlayerR {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        p {
            margin: 0 .3em 0 .3em;
            text-align: center;
        }
    }

    .eventType {
        background-color: #fff; 
        background-color: #00000000;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        //border: 1px solid #fff;
       .yellowCard {
            background-color: #fced1c;
            width: 1.5em;
            height: 2em;
            border-radius: .3em;
            border: .1em solid #fff;
        }
        .redCard {
            background-color: #970000;
            width: 1.5em;
            height: 2em;
            border-radius: .3em;
            border: .1em solid #fff;
        } 
        img {
            height: 2em;
            width: 2em;
        }
    }
    
}

.matchPrediction {
    background: url('../assets/images/banners/banner.svg');
    background-size: cover;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 1em 0 1em 0;
    h3 {
        margin: 0 0 1em 0;
        font-family: 'Poppins', sans-serif;
    }
    .options {
        width: 100%;
        display: flex;
        justify-content: center;    
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        button {
            background-color: #00000000;
            color: #fff;
            border: 1px solid #fff;
            padding: .8em;
            &:hover {
                cursor: pointer;
                background-color: #5BFF04;
            }
        }
    }

}

.error {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ccc;
    font-family: 'Courier New', Courier, monospace;
    img {
        width: 50%;
        height: 50%;
    }
}

.indeterminateProgressBar {
    background-color: #00000000;
    border-radius: 9999px;
    position: relative;
    overflow: hidden;
    width: 1.5em;
    height: 2px;
}
.indeterminateProgressBarProgress {
    background-color: #006e0f;
    border-radius: 9999px;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: indeterminateProgressBar;
}
@keyframes indeterminateProgressBar {
    from {
        left: -50%;
    }
    to {
        left: 100%;
    }
}

.spinContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0F1419;
}
.spinner {
    height: 4rem;
    width: 4rem;
    border: 4px solid #d1d5db;
    border-top-color: #3b82f6;
    border-radius: 50%;
    animation: spinner 800ms linear infinite;
}
@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}