.yellowCard {
  background-color: #fced1c;
  width: .7em;
  height: 1em;
  border-radius: .3em;
  border: .1em solid #fff;
  display: block;
  z-index: 2;
  position: absolute;
}
.redCard {
  background-color: #970000;
  width: .7em;
  height: 1em;
  border-radius: .3em;
  border: .1em solid #fff;
  display: block;
  z-index: 2;
  position: absolute;
}
.ball, .redBall {
  width: .8em;
  height: .8em;
  display: block;
  z-index: 2;
  margin-top: .3em;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  padding: 0.1em;
}
.in {
  width: .9em;
  height: .9em;
  display: block;
  z-index: 2;
  position: absolute;
  margin-top: -1.5em;
  margin-left: -1.8em;
  background: #fff;
  border-radius: 50%;
  padding: 0.1em;
}
.out {
  width: .9em;
  height: .9em;
  display: block;
  z-index: 2;
  position: absolute;
  margin-left: -2em;
  background: #fff;
  border-radius: 50%;
  padding: 0.1em;
}
